.part {
  padding: 10rem 0;
  background-color: #f5f0ea;
}

.part-title {
  margin-bottom: 5rem;
}

.part-title h2 {
  font-size: 30px;
  font-weight: 400;
  color: #555;
  text-align: center;
}

.part-content {
  height: 684px;
  min-height: 500px;
  background-image: url("../images/icons-plate.webp");
  background-repeat: no-repeat;
  background-position: center;
}

.part-content-wrap {
  display: flex;
  align-items: stretch;
  height: 100%;
}

.part-left,
.part-right {
  width: 25%;
}

.part-left-wrap,
.part-right-wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.part-mid {
  width: 50%;
}

.part-block-wrap {
  display: flex;
  align-items: flex-start;
}

.part-block-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33%;
  height: 100px;
  background-color: #e2bb53;
  border-radius: 50%;
}

.part-block-img img {
  width: 50px;
  height: 50px;
}

.part-block-content {
  width: 66%;
  padding-left: 2rem;
}

.part-block-title {
  margin-bottom: 0.8rem;
}

.part-block-title h3 {
  font-size: 24px;
  line-height: 1.3;
  color: #275c53;
  font-weight: 400;
}

.part-block-text p {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  color: #565656;
}

.media {
  padding: 10rem 0;
  background-color: #275c53;
}

.media-inner {
  display: flex;
  align-items: center;
}

.media-left,
.media-right {
  width: 50%;
}

.media-suptitle {
  position: relative;
  margin-bottom: 1rem;
}

.media-suptitle::before {
  content: '';
  position: absolute;
  top: 4px;
  left: 140px;
  width: 40px;
  height: 2px;
  background-color: #e2bb53;
}

.media-suptitle h4 {
  font-size: 12px;
  font-weight: 50;
  color: #fff;
  text-transform: uppercase;
}

.media-title {
  margin-bottom: 1.5rem;
}

.media-title h2 {
  font-size: 48px;
  line-height: 1.1;
  color: #fff;
  font-weight: 400;
}

.media-subtitle {
  margin-bottom: 2rem;
}

.media-subtitle h3 {
  font-size: 24px;
  font-weight: 400;
  color: #fff;
  line-height: 1.2;
}

.media-text {
  margin-bottom: 4rem;
}

.media-text p {
  font-size: 18px;
  line-height: 1.4;
  color: #fff;
}

.media-btn-link {
  margin-right: 2rem;
  padding: 18px 50px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 400;
  border-radius: 40px;
}

.media-btn-y {
  color: #275c53;
  background-color: #e2bb53;
}

.media-btn-w {
  color: #275c53;
  background-color: #fff;
}

.prod {
  padding: 10rem 0 15rem;
}

.prod-title {
  margin-bottom: 10rem;
}

.prod-title h2 {
  font-size: 48px;
  font-weight: 400;
  text-transform: capitalize;
  color: #275c53;
  text-align: center;
}

.prod-slider-wrap {
  display: flex;
}

.prod-item {
  width: 260px;
  padding: 0 20px;
  height: 100%;
  display: flex !important;
  justify-content: stretch;
}

.prod-content {
  text-align: center;
}

.prod-img img {
  width: auto;
  height: 300px;
  margin: 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.prod-star {
  margin-bottom: 1.5rem;
}

.prod-name {
  margin-bottom: 1rem;
}

.prod-name span {
  font-size: 24px;
  color: #275c53;
  text-transform: capitalize;
}

.prod-text {
  margin-bottom: 2rem;
}

.prod-text p {
  font-size: 16px;
  font-weight: 400;
  color: #555;
  line-height: 1.5;
}

.prod-price {
  margin-bottom: 2rem;
}

.prod-price span {
  font-size: 24px;
  color: #275c53;
  font-weight: 400;
  text-transform: uppercase;
}

.prod-order {
  margin-top: auto;
  display: inline-block;
  padding: 0 40px;
  align-self: center;
  height: 40px;
  border-radius: 40px;
  background-color: #e2bb53;
}

.prod-order span {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  text-transform: uppercase;
  color: #275c53;
}

.stats {
  padding: 10rem 0 0;
  background-color: #f5f0ea;
}

.stats-inner {
  display: flex;
}

.stats-left,
.stats-right {
  width: 50%;
}

.stats-right-top {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.stats-right-low {
  display: flex;
  flex-wrap: wrap;
}

.stats-suptitle {
  margin-bottom: 1rem;
  position: relative;
  display: inline-block;
}

.stats-suptitle::before {
  content: '';
  position: absolute;
  top: 4px;
  left: 100px;
  width: 40px;
  height: 2px;
  background-color: #e2bb53;
}

.stats-suptitle h3 {
  font-size: 12px;
  font-weight: 400;
  color: #275c53;
  text-transform: uppercase;
}

.stats-title {
  margin-bottom: 2rem;
}

.stats-title h2 {
  font-size: 4.8rem;
  color: #275c53;
  font-weight: 400;
  line-height: 1.1;
}

.stats-text {
  margin-bottom: 7rem;
}

.stats-text p {
  font-size: 18px;
  font-weight: 300;
  color: #555;
  line-height: 1.5;
}

.stats-block {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

.stats-block-text {
  margin-top: 2rem;
}

.stats-block-text p {
  font-size: 24px;
  color: #275c53;
  text-transform: lowercase;
}

.stats-circle {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 3px solid #e2bb53;
}

.stats-circle-num {
  font-size: 4.8rem;
  color: #275c53;
  font-weight: 400;
}

.contact {
  padding: 20rem 0;
  background-image: url("../images/parallax-item.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.contact-text {
  margin-bottom: 2rem;
}

.contact-text p {
  font-size: 24px;
  font-weight: 400;
  color: #fff;
}

.contact-num {
  margin-bottom: 4rem;
}

.contact-num a {
  font-size: 48px;
  color: #fff;
  font-weight: 500;
  transition: all .3s ease-in-out;
}

.contact-num a:hover {
  color: #e2bb53;
}

.contact-btn-link {
  padding: 20px 60px;
  font-size: 18px;
  text-transform: uppercase;
  color: #555;
  font-weight: 400;
  background-color: #e2bb53;
  border-radius: 50px;
}

.people {
  padding: 10rem 0;
}

.people-title {
  margin-bottom: 8rem;
}

.people-title h2 {
  font-size: 48px;
  color: #275c53;
  font-weight: 400;
  text-align: center;
}

.people-title h2::first-letter {
  text-transform: capitalize;
}

.people-item {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.people-item-text {
  width: 80%;
  margin: 0 auto;
  padding: 6rem 4rem;
  background-color: #f5f0ea;
  border-radius: 10px;
}

.people-item-text p {
  font-size: 24px;
  color: #555;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
}

.people-item-img {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.people-item-img img {
  margin: 0 auto;
  border-radius: 50%;
}

.people-item-name span {
  font-size: 24px;
  text-transform: capitalize;
  color: #555;
  font-weight: 500;
}

.footer {
  padding: 10rem 0;
  background-color: #f5f0ea;
}

.footer-inner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footer-block {
  width: 30%;
}

.footer-logo {
  margin-bottom: 2rem;
}

.footer-logo-descr span {
  font-size: 18px;
  color: #275c53;
  font-weight: 400;
  line-height: 1.5;
}

.footer-social {
  display: flex;
  align-items: center;
}

.footer-social img {
  margin-right: 3rem;
}

.footer-post {
  display: flex;
  flex-wrap: wrap;
}

.footer-post-item {
  margin: 1rem;
  width: 90px;
  height: 90px;
}

.footer-post-item img {
  height: 90px;
  -o-object-fit: cover;
     object-fit: cover;
}

.intro-p {
  height: 50vh;
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-image: url("../images/inner-header.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.intro-p::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.intro-p-content {
  position: relative;
  z-index: 99;
}

.intro-p-title {
  font-size: 48px;
  font-weight: 400;
  color: #fff;
  text-transform: capitalize;
}

.product {
  padding: 10rem 0;
}

.product-top {
  display: flex;
  align-self: flex-start;
}

.product-left,
.product-right {
  width: 50%;
}

.product-star {
  margin-bottom: 2rem;
}

.product-price {
  margin-bottom: 4rem;
}

.product-price span {
  font-size: 24px;
  font-weight: 400;
  color: #e2bb53;
  text-transform: uppercase;
}

.product-about p {
  font-size: 16px;
  font-weight: 300;
  color: #555;
  line-height: 1.5;
}

.product-descr {
  margin-bottom: 4rem;
}

.product-descr h3 {
  font-size: 18px;
  font-weight: 400;
  color: #275c53;
  text-transform: capitalize;
  text-align: center;
}

.product-text p {
  font-size: 18px;
  font-weight: 300;
  color: #555;
  line-height: 1.5;
}

.form-wrap {
  position: relative;
  height: 67px;
  padding-bottom: 2rem;
  border-bottom: 1px solid #e0e1eb;
}

.form-input {
  width: 100%;
  height: 100%;
  font-size: 22px;
  font-weight: 700;
  color: #545F6B;
  font-family: "Big Shoulders Text", "Roboto Condensed", sans-serif;
}

.form-input::first-letter {
  text-transform: capitalize;
}

.form-input::-webkit-input-placeholder {
  text-transform: capitalize;
}

.form-input:-ms-input-placeholder {
  text-transform: capitalize;
}

.form-input::placeholder {
  text-transform: capitalize;
}

.form-submit {
  position: absolute;
  top: 13px;
  right: 0;
  width: 25px;
  height: 25px;
  cursor: pointer;
  background-color: #ed382b;
}

.form-submit:hover svg {
  fill: #003859;
}

.form-submit svg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  height: 70%;
  fill: #fff;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: all .3s ease-in-out;
}

.form-modal-wrap {
  position: absolute;
  top: 40px;
  right: 120px;
  overflow: hidden;
  transition: all .3s ease-in-out;
}

.form-modal {
  padding: 4rem 0;
  background-color: rgba(0, 56, 89, 0.8);
  width: 500px;
  display: flex;
  flex-direction: column;
  position: relative;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  z-index: 9999;
  transition: all .5s ease-in-out;
}

.form-modal-input,
.form-modal-textarea,
.form-modal-submit {
  display: block;
  margin: 0 auto;
  height: 40px;
  width: 70%;
  margin-bottom: 1rem;
  padding: 1rem 2rem;
  font-family: "Roboto Condensed", sans-serif;
  background-color: #fff;
  border-radius: 5px;
}

.form-modal-input::-webkit-input-placeholder,
.form-modal-textarea::-webkit-input-placeholder,
.form-modal-submit::-webkit-input-placeholder {
  text-transform: capitalize;
}

.form-modal-input:-ms-input-placeholder,
.form-modal-textarea:-ms-input-placeholder,
.form-modal-submit:-ms-input-placeholder {
  text-transform: capitalize;
}

.form-modal-input::-webkit-input-placeholder, .form-modal-textarea::-webkit-input-placeholder, .form-modal-submit::-webkit-input-placeholder {
  text-transform: capitalize;
}

.form-modal-input:-ms-input-placeholder, .form-modal-textarea:-ms-input-placeholder, .form-modal-submit:-ms-input-placeholder {
  text-transform: capitalize;
}

.form-modal-input::placeholder,
.form-modal-textarea::placeholder,
.form-modal-submit::placeholder {
  text-transform: capitalize;
}

.form-modal-input:focus,
.form-modal-textarea:focus,
.form-modal-submit:focus {
  box-shadow: 0 0 7px 0 lightgreen;
}

.form-modal-textarea {
  height: 80px;
}

.form-modal-submit {
  margin-bottom: 0;
  cursor: pointer;
  background-color: lightgreen;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.show-modal-f {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.form-modal-mask-close {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.form-modal-close-icon {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
}

.form-modal-close-icon-1 {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.form-modal-close-icon-2 {
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}

.modal-m {
  margin-right: 17px;
}

.modal-h {
  -webkit-transform: translateX(-8.5px);
  -ms-transform: translateX(-8.5px);
  transform: translateX(-8.5px);
}

.burger {
  position: absolute;
  top: 100px;
  right: 30px;
  width: 100%;
  width: 30px;
  height: 20px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  cursor: pointer;
  z-index: 9999;
  transition: all .3s ease-in-out;
}

.burger-icon-item {
  display: block;
  position: absolute;
  right: 0;
  height: 2px;
  background-color: #fff;
}

.burger-icon-item-1 {
  width: 90%;
  transition: all .3s ease-in-out;
}

.burger-icon-item-2 {
  top: 9px;
  width: 100%;
}

.burger-icon-item-3 {
  bottom: 0;
  width: 65%;
  transition: all .3s ease-in-out;
}

.burger-clicked .burger-icon-item-1 {
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-50%) rotate(45deg);
  -ms-transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg);
}

.burger-clicked .burger-icon-item-2 {
  width: 0;
}

.burger-clicked .burger-icon-item-3 {
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-50%) rotate(-45deg);
  -ms-transform: translateY(-50%) rotate(-45deg);
  transform: translateY(-50%) rotate(-45deg);
}

.oh {
  overflow: hidden;
  pointer-events: none;
}

.body-mask {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  background-color: rgba(0, 56, 89, 0.95);
  z-index: 998;
  transition: all .3s ease-in-out;
  transition-delay: .3s;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}

.mob-active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: all .3s ease-in-out;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.nav-mob {
  position: fixed;
  width: 100vw;
  height: 100%;
  top: 25vh;
  right: 0;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 999;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}

.nav-fixed {
  overflow: hidden;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: all;
  color: #fff;
  transition: all .3s ease-in-out;
}

.nav-fixed-item {
  margin-bottom: 3rem;
  text-align: center;
}

.nav-fixed-link {
  position: relative;
  z-index: 99999;
  font-size: 16px;
  text-transform: uppercase;
}

.nav-fixed-pos {
  position: relative;
}

.nav-fixed-sub {
  display: flex;
  align-items: center;
  padding-top: 20px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  transition: all .3s ease-in-out;
}

.nav-fixed-sub li {
  margin-right: 2rem;
}

.nav-fixed-sub li:last-child {
  margin-right: 0;
}

.mob-active {
  -webkit-tap-highlight-color: transparent;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: all .7s ease-in-out;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.sub-menu-show {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.nav-fixed-btn {
  text-transform: uppercase;
}

.to-top {
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 50px;
  height: 50px;
  background-color: rgba(237, 56, 43, 0.3);
  border-radius: 50%;
  opacity: 0;
  cursor: pointer;
  pointer-events: none;
  visibility: hidden;
  transition: all .3s ease-in-out;
  z-index: 9999;
}

.to-top-wrap {
  width: 100%;
  height: 100%;
}

.to-top-item {
  position: absolute;
  top: 45%;
  width: 20px;
  height: 2px;
  background-color: #003859;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.to-top-item-1 {
  left: 9px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.to-top-item-2 {
  right: 8px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.show-tt {
  display: block;
  opacity: 1;
  pointer-events: all;
  visibility: visible;
}

@media (max-width: 1366px) {
  .intro-img-pos img {
    height: 550px;
  }
}

@media (max-width: 1240px) {
  .part-mid {
    width: 34%;
  }

  .part-left,
  .part-right {
    width: 33%;
  }

  .part-block-img {
    width: 100px;
  }

  .media-inner {
    display: block;
  }

  .media-left,
  .media-right {
    width: 100%;
  }

  .media-right {
    height: 300px;
  }
}

@media (max-width: 992px) {
  .intro-content {
    width: 60%;
  }

  .intro-img {
    width: 40%;
  }

  .part-mid {
    width: 0;
  }

  .part-left,
  .part-right {
    width: 48%;
  }

  .part-right .part-block-wrap {
    justify-content: flex-end;
  }

  .stats-left {
    width: 0;
  }

  .stats-right {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
  }

  .people-item-text {
    width: 100%;
  }

  .footer-inner {
    flex-wrap: wrap;
  }

  .footer-block {
    width: 50%;
    margin-bottom: 8rem;
  }
}

@media (max-width: 600px) {
  .nav {
    display: none;
  }

  .intro {
    padding: 10rem 0 0;
    height: auto;
  }

  .intro-wrap {
    display: block;
    position: static;
  }

  .intro-content {
    width: 100%;
  }

  .intro-img {
    width: 100%;
  }

  .intro-img-pos {
    margin-top: 5rem;
  }

  .intro-title {
    text-align: center;
  }

  .intro-title h2 {
    font-size: 36px;
    text-align: center;
  }

  .intro-text {
    width: 100%;
  }

  .intro-btn {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  .intro-btn-link {
    width: 70%;
    display: inline-block;
    margin: 0 auto;
    margin-bottom: 2rem;
  }

  .part {
    padding: 5rem 0;
  }

  .part-content {
    width: 100%;
    height: auto;
    background-image: none;
  }

  .part-content-wrap {
    display: block;
  }

  .part-left,
  .part-right {
    width: 100%;
  }

  .part-block {
    margin-bottom: 2rem;
  }

  .media {
    padding: 5rem 0;
  }

  .media-title h2 {
    font-size: 30px;
  }

  .media-btn {
    text-align: center;
  }

  .media-btn-link {
    width: 80%;
    text-align: center;
    margin-bottom: 2rem;
  }

  .prod {
    padding: 5rem 0;
  }

  .prod-title {
    margin-bottom: 5rem;
  }

  .prod-title h2 {
    font-size: 30px;
  }

  .prod-img img {
    height: 260px;
  }

  .stats {
    padding: 5rem 0;
  }

  .stats-title h2 {
    font-size: 30px;
  }

  .stats-left {
    display: none;
  }

  .stats-right-low {
    display: block;
  }

  .stats-text {
    margin-bottom: 4rem;
  }

  .stats-block {
    width: 100%;
  }

  .stats-block:last-child {
    margin-bottom: 0;
  }

  .stats-circle {
    width: 150px;
    height: 150px;
  }

  .contact {
    padding: 10rem 0;
  }

  .contact-outer .container {
    padding: 0;
  }

  .contact-text p {
    font-size: 16px;
  }

  .contact-num a {
    font-size: 28px;
  }

  .contact-btn-link {
    padding: 10px 40px;
  }

  .people {
    padding: 5rem 0;
  }

  .people-title {
    margin-bottom: 4rem;
  }

  .people-title h2 {
    font-size: 30px;
  }

  .people-item-text {
    padding: 4rem 2rem;
  }

  .footer-block {
    width: 100%;
  }

  .footer-block:last-child {
    margin-bottom: 0;
  }
}